@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border-radius: theme("borderRadius.lg");
    box-shadow: theme("boxShadow.2xl");
    padding: 10px;
    margin: 20px;
    background-color: rgb(237, 234, 234);
  }
}
